*{
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
body {
  background-color: rgb(255,160,130,255);
  text-align:left;
  margin-top: 100px
}

header{
  width: 75vw;
  margin: 25px auto;
}
main{
  width: 90vw;
  margin: 25px auto;
  display: flow-root;
}
.col{
    width: 50%;
    float: left;
    padding: 0 25px;
}
h1 {
  color: rgb(216, 115, 83, 1);
  font-weight: bold;
  font-size: 90px;
  text-align:center;
  font-family: 'Pacifico', cursive;

}
h3 {
  color: rgb(162, 224, 215, 1);
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}



ul{
  color:rgb(236, 129, 97, 1);
  font-size: 30px
}
a {
  color: rgb(185, 234, 218, 1);
  font-style: italic;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}
a:hover {
  color: rgb(236, 129, 97, 1);

  font-size: 30px;
}
/****** media and queries ******/
@media  screen and (max-width: 900px){

  .col{
      width: 100%;
      margin-bottom: 50px;
  }
  header{
    width: 90vw;
  }
  main{
    width: 90vw;
  }
  h1{
    font-size: 70px;
  }


}
