*{
  box-sizing: : border-box;
}
body{
  margin: 0;
  background-color: black;
}
main{
  width: 50vw;
  margin: 0 auto;
	padding: 10px;
}
img {
    float: left;
    width:  800px;
    height: 500px;
    object-fit: cover;
}
h1{
  padding: 50px;
  margin: 0px;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  color: yellow;
  font-size:80px;
  position: relative;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
