*{
  box-sizing: : border-box;
}
body{
  margin: 0;
  background-color: black;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
h1{
  margin: 0px;
  font-family: "ITC Avant Garde Gothic";
  color: purple;
  font-size:100px;
  position: relative;
  text-align: center;
}
