*{
  box-sizing: : border-box;
}
body{
  margin: 0;
  background-color: black;
}
.button {
  background-color: pink;
  border: none;
  color: white;
  padding: 40px 70px;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  margin-top: 150px;
  margin-left: 700px;
}
h1{
  margin: 0px;
  font-family: "ITC Avant Garde Gothic";
  color: purple;
  font-size:100px;
  position: relative;
  margin-top: 200px;
  margin-left: 100px;
}
