*{
  box-sizing: : border-box;
}
body{
  margin: 0;
  background-color: lightblue;
}
.whitepen{
  width: 900px;
  height:100px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  position: relative;
  margin: 300px auto;
}
.orangecase{
  width: 800px;
  height:100px;
  background-color: orange;
  background-image: linear-gradient(orange, red);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;

}
.silver{
  width: 100px;
  height:75px;
  background-color: silver;
  position: absolute;
  background-image: linear-gradient(silver, gray);
  top: 25px;
  left: 100px;
}
.tip{
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid white;
  border-bottom: 50px solid transparent;
  left: 800px;
  top:0px;
  position: absolute;
}
.leaves1{
  width: 100px;
  height:25px;
  background-color: green;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  background-image: linear-gradient(green, darkgreen);
  position: absolute;
  top: 25px;
  left: -100px;
}
.leaves2{
  width: 100px;
  height:25px;
  background-color: green;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  background-image: linear-gradient(green, darkgreen);
  position: absolute;
  top: 50px;
  left: -100px;
}
.tipcase {
   width: 0;
   height: 0;
   border-top: 25px solid transparent;
   border-left: 50px solid red;
   border-bottom: 25px solid transparent;
   left: 850px;
   top:25px;
   position: absolute;
 }
